# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# No keys, no certs, no pkcs12's
*.key
*.crt
*.p12
*.priv

# No vpn client configs
*.ovpn

# Crash log files
crash.log

# tfvars
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
